<div className="container">
    <header className="header-container">
        <div className="logo">
            LOGO
        </div>
        <div className="menu-active">
            <nav className="navbar">
                <div className="nav-item"><a href="#">Home</a></div>
                <div className="nav-item"><a href="#">About</a></div>
                <div className="nav-item"><a href="#">Contact</a></div>
                <div className="nav-item"><a href="#">Blog</a></div>
            </nav>
            <div className="user-options">
                <div className="option"><i className="fa fa-moon"></i></div>
                <div className="option"><i className="fa fa-user"></i></div>
                <div className="option"><i className="fa fa-gear"></i></div>
            </div>
        </div>
        <nav className="navbar">
            <div className="nav-item"><a href="#">Home</a></div>
            <div className="nav-item"><a href="#">About</a></div>
            <div className="nav-item"><a href="#">Contact</a></div>
            <div className="nav-item"><a href="#">Blog</a></div>
        </nav>
        <div className="user-options">
            <div className="option"><i className="fa fa-moon"></i></div>
            <div className="option"><i className="fa fa-user"></i></div>
            <div className="option"><i className="fa fa-gear"></i></div>
        </div>
        <div className="menu" onclick="activeMenu()">
            <i className="fa fa-bars"></i>
        </div>
    </header>

    <hr>

    <!-- footer area -->
    <footer className="footer-container">
        <div className="newsletter">
            <span>Newsletter</span>
            <div className="email"><input type="email" placeholder="Your email"><i className="fa fa-paper-plane"></i></div>
        </div>
        <div className="social-links">
            <div className="link"><a href="#"><i className="fab fa-facebook"></i></a></div>
            <div className="link"><a href="#"><i className="fab fa-instagram"></i></a></div>
            <div className="link"><a href="#"><i className="fab fa-twitter"></i></a></div>
        </div>
        <div className="copyright">
            <p>&copy; Copyright, 2023 - NB</p>
        </div>
    </footer>
</div>